<div class="bg-transparent border-b border-amber-100 h-20 flex flex-row items-center place-content-between px-8">
    <p class="font-heading text-4xl text-amber-100 tracking-widest">STUDS</p>
    <ul class="flex flex-row items-center font-normal text-amber-100">
        <a class="mr-8" href="">Home</a>
        <a class="mr-8" href="#">Shop</a>
        <button class="px-8 py-2.5 border border-amber-100 rounded-full flex items-center" href="#">Contact Us</button>
    </ul>

  </div>